/*
*/
body {
  background: #f2f2f2; }

.float.right {
  float: right;
  clear: right; }

/*
 * Editor Styling
*/
.editor-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff; }
  .editor-wrapper .editor {
    padding: 1.52em;
    font-size: 1.2em; }
    .editor-wrapper .editor blockquote {
      border-left: 2px solid #ddd;
      margin-left: 0;
      margin-right: 0;
      padding-left: 10px;
      color: #aaa;
      font-style: italic; }

.toolbar a[data-active="true"] {
  background: #ddd !important; }

/*
 * Wrapper 
 */
.app.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1; }

/*
 * Navigation 
 */
.app.side.navigation {
  height: 100vh;
  background: #031634; }
  .app.side.navigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    .app.side.navigation ul li {
      flex: 1;
      background: #2a363b;
      padding: 0.52em 2em; }
