/*
*/
body {
  background: #f2f2f2; }

.float.right {
  float: right;
  clear: right; }

/*
 * Editor Styling
*/
.editor-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff; }
  .editor-wrapper .editor {
    padding: 1.52em;
    font-size: 1.2em; }
    .editor-wrapper .editor blockquote {
      border-left: 2px solid #ddd;
      margin-left: 0;
      margin-right: 0;
      padding-left: 10px;
      color: #aaa;
      font-style: italic; }

.toolbar a[data-active="true"] {
  background: #ddd !important; }
